---
import BaseLayout from '../layout/BaseLayout.astro'
import NameInput from "../components/NameInput.astro";
import QuizCard from "../components/QuizCard.astro";
---

<BaseLayout>
	<section class="max-w-4xl mx-auto px-6 py-10">
		<h1 class="text-3xl font-bold mb-6">Quiz App</h1>

		<NameInput />

		<section aria-labelledby="assigned-quizzes">
			<h2 id="assigned-quizzes" class="text-xl font-semibold mb-4">
				Assigned Quizzes
			</h2>

			<ul class="grid sm:grid-cols-2 gap-6">
				<li>
					<QuizCard
						title="Quiz Edukatif 3R"
						slug="quis-edukatif-3r"
						meta="5 Questions - 10 Minutes"
					/>
				</li>
			</ul>
		</section>
	</section>
</BaseLayout>