---
import BaseLayout from '../layout/BaseLayout.astro'
---

<BaseLayout>
	<section class="flex flex-col py-12 gap-6">
		<h2 class="text-4xl font-bold">List Quiz</h2>
		<article class="border-2 border-gray-300 rounded-md flex flex-row gap-4 w-full">
			<section class="flex flex-col p-6 bg-blue-500 rounded-l-md items-center">
				<h2 class="text-2xl text-white">Score</h2>
				<h2 class="text-4xl text-white">0</h2>
			</section>
			<section class="flex flex-col justify-center px-6 py-2">
				<h2 class="text-2xl">Title Quiz</h2>
				<p>Lorem Ipsum Dolor Sit Amet</p>
			</section>
		</article>
	</section>


</BaseLayout>